 h1 {
   text-align: center;
       }
   
     
      #bi:link {
        color :#FFA07A;
      }

      #nv:link {
        color:#FF7F50;
      }

      #fr:link {
        color:#FF6347;
      }

      #gl:link {
        color:#FF4500;
      }

      #bi:visited{
        color:#66CDAA;
      }

      #nv:visited{
        color:#8FBC8F;
      }

      #fr:visited{
        color:#20B2AA;
      }

      #gl:visited{
        color:#008B8B;
      }



@media (min-width: 993px) {
a{
    width: 25%;
    float: right;
    text-align: center;
}
    }
@media (min-width: 769px) and (max-width: 992px){
    a{
        width: 50%;
        float: left;
        text-align: center;
    }
}
@media (max-width: 768px){
    a{
        width: 100%;
        float: left;
        text-align: center;
    }
}















