 h1 {
   text-align: center;
   font-size: 22px;   
}
   .nh {
    font-style: italic; 
 }
    #zm {
   text-align: center;
    }
    .btn1 {
    display: inline-block; 
    background: blue; 
    color: #fff; 
    padding: 0.7rem 0.7rem; 
    text-decoration: none; 
    border-radius: 3px; 
    }
    .btn2 {
    display: inline-block; 
    background: blue; 
    color: #fff; 
    padding: 0.7rem 0.7rem; 
    text-decoration: none; 
    border-radius: 3px; 
   }
    .btn3 {
    display: inline-block; 
    background: blue;
    color: #fff; 
    padding: 0.7rem 0.7rem; 
    text-decoration: none; 
    border-radius: 3px; 
   }
    .btn4 {
    display: inline-block; 
    background: blue; 
    color: #fff; 
    padding: 0.7rem 0.7rem; 
    text-decoration: none; 
    border-radius: 3px; 
   }
    .btn5 {
    display: inline-block; 
    background: blue; 
    color: #fff; 
    padding: 0.7rem 0.7rem; 
    text-decoration: none; 
    border-radius: 3px; 
   }
a.btn1:hover {
    background-color: magenta;
    color: black;
   }
a.btn2:hover {І
    background-color: magenta;
    color: black;
}
a.btn3:hover {
    background-color: magenta;
    color: black;
}
a.btn4:hover {
    background-color: magenta;
    color: black;
}
a.btn5:hover {
    background-color: magenta;
    color: black;
}
a.btn1:active {
  background-color: yellow;
  color: black; 
}
a.btn2:active {
  background-color: yellow;
  color black: 
}
a.btn3:active {
  background-color: yellow;
  color: black;
}
a.btn4:active {
  background-color: yellow;
  color: black;
}
a.btn5:active {
  background-color: yellow;
  color: black ;
}


 article{
    font-size: 120%;
    padding: 3px;

  }


@media screen and (min-width: 993px){
    .baz{
    width: 33.33%;
    float: left;
    
    }
    .dut{
        width: 33.33%;
        float: left;
      

    }
    .shi{
        width: 33.33%;
        float: left;
         
    }
    .poz{
        width: 50%;
        float: left;
         

    }
    .uni{
        width: 50%;
        float: left;


    
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .baz{
        width: 50%;
        float: left;
       

    }
    .dut{
        width: 50%;
        float: left;
     
    }
    .shi{
        width: 50%;
        float: left;
       

    }
    .poz{
        width: 50%;
        float: left;
       

    }
    .uni{
        width: 100%;
        float: left;
    

    }
}
@media screen and (min-width: 0px) and (max-width: 768px){
    .baz{
        width: 100%;
        float: left;

    }
    .dut{
        width: 100%;
        float: left;


    }
    .shi{
        width: 100%;
        float: left;
      

    }
    .poz{
        width: 100%;
        float: left;
      

    }
    .uni{
        width: 100%;
        float: left;
     

    }
}














