 	h1 {
   text-align: center;
      
         }
          .nh {
    font-style: italic; 
         }
        h1{
          font-size: 20px;
        }
        .sm{
          font-size: 70%;
        }




